body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen-box, .option-box {
    background-color: rgb(77, 44, 9);
    margin: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-box {
    height: 500px;
    width: 75vw;
}

.options-container {
    display: flex;
}

.option-box {
    height: 200px;
    width: 20vw;
}

.option-box:hover {
    background-color: rgb(97, 57, 14);
}